h1,p{
  margin: 1rem auto;
  text-align: center;
}

body{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  font-family: Tahoma,sans-serif;
  background-color: burlywood; 
  font-size: 16px;
}

form{
  width: 70%;
  max-width: 500px;
  min-width: 100px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

input, textarea{
  margin-top: 1em;
  margin-bottom: 0;
  background-color: hsl(34, 65%, 78%);
  border: none;
}

input[type="text"], input[type="email"], input[type="number"]{
    width:100%;
  display: block;
}
input[type="checkbox"],input[type="radio"]{
  margin-top: 0;
}


select{
  width: 100%;  
}

fieldset{
  border: none;
  padding: 1rem 0;
  margin: 0 0;
}

.recommendation{
  margin: 10px;
}
.blackscreen{
  background-colour: rgba(128,128,128);
}


label{
  display: block; /*Set the label element not inline*/
  margin: 0.5rem;
}

input[type="submit"]{
  width: 60%;
  margin: 0 auto;
  font-size: 18px;
  border: solid white 2px;
  max-width: 300px;
}

a{
  color: brown;
}
a:active{
  color: white;
}

p:last-of-type{
  margin-bottom: 2rem;
}